.search{
	float: right;
  color: white;
  font-family: Montserrat;
}
.search-bar{
	margin-top: 20px;
	text-align: center;
}
.search-bar>input{
	color: #3F3F3FFF;
	width: 40%;
	border-radius: 290486px;
	border: none;
	padding: 4px 10px 4px 10px;
}
.social-container{
	list-style: none;
	padding: 10px;
	margin: 0;
}
li {
	display:inline;
	margin: 0 5px 0 5px;
}
.io-cont{
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem;
}
.io-cont > svg {
	max-height: 100%;
	max-width: 100%;
	width: 2.25em;
	height: 2.25em;
}

