html{
  background-color: #047797
}
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  color: #B7B7B7FF;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [head-col-start] 1fr [content-col-start] 1fr [content-col-mid] 0.7fr [head-col-end];
  grid-template-rows: [head-row-start] auto [head-row-end] auto [content-row-end] auto [footer-row-end];
}

.header {
  grid-column: head-col-start / head-col-end;
  grid-row: head-row-start / head-row-end;
   /* autoprefixer: off */
}

.sidebar {
  grid-column: content-col-mid / head-col-end;
  grid-row: head-row-end / content-row-end;
   /* autoprefixer: off */
  background: #d90;
  color: white;
  padding: 1.5em 0;
  font-size: 2em;
}

.content {
  grid-column: head-col-start / content-col-mid;
  grid-row: head-row-end / content-row-end;
   /* autoprefixer: off */
}

.footer {
  grid-column: head-col-start / head-col-end;
  grid-row: content-row-end / footer-row-end;
   /* autoprefixer: off */
}